$color1: #572EE5;
$color2: #50E3C2;
$color3: #000000;
$color4: #FFFFFF;
$color5: #9CAFC3;
$color6: #F3F5F8;
$color7: rgba(87,46,229,0.6);
$color8: #CED7E1;
$color9: #37383C;
$color10: #222326;

$font1: 'Montserrat';
$font2: 'Montserrat_Bold';
$font3: 'Montserrat_Medium';
$font4: 'Roboto';
$font5: 'Roboto_Medium';
$font6: 'Roboto_Bold';
$font7: 'Roboto_Black';

$max-width: 1200px;
$max-width2: 1000px;
